<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.fjzcit.tms.mapper.test.InterfaceCaseMapper">
    <resultMap id="interfaceCaseMap" type="com.fjzcit.tms.model.test.InterfaceCase">
        <!-- id代表实体主键 -->
        <!-- property对应实体类属性，column是DB字段 -->
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="uri" column="uri"/>
        <result property="interfaceType" column="interface_type"/>
        <result property="state" column="state"/>
    </resultMap>
    <insert id="insert">

    </insert>
    <update id="save">
        UPDATE TMS_INTERFACE_CASE SET INTERFACE_TYPE = 0, STATE = 1
    </update>
    <select id="find" parameterType="com.fjzcit.tms.req.InterfaceCaseReq" resultMap="interfaceCaseMap">
        SELECT * FROM TMS_INTERFACE_CASE
    </select>
</mapper>